/* 


font-family: 'Roboto', sans-serif;

*/

/* :root{ */
/* var(--w-colonna) */
/* --w-colonna: 130px; */

/* } */

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}